@import url("./fonts.css");
@import url("./variables.css");
@import url("./reset.css");

body {
  font-family: var(--font-regular);
  background-color: var(--clr-white);
}

main {
  /* width: clamp(20rem, 40vw, 30rem); */
  margin: auto;
  margin-block: 4rem;
}
